.btn {
  padding: 10px;
  background-color: #fff;
  font-size: 18px;
  border: 2px solid grey;
  min-height: 50px;
  min-width: 160px;
}

.btn:hover {
  border: 2px solid #000;

  font-weight: bold;
}
